<!DOCTYPE html>
<html>
<head>
<title>Resume Ready</title>

<style>
body{
    font-family:Arial;
    text-align:center;
    background:#f4f6f8;
    padding-top:100px;
}

button{
    padding:12px 20px;
    margin:10px;
    border:none;
    border-radius:5px;
    background:black;
    color:white;
    cursor:pointer;
}
</style>
</head>

<body>

<h2>✅ Resume Generated Successfully</h2>

<a href="/generated/{{resume_file_pdf}}" target="_blank">
<button>View Resume</button>
</a>

<a href="/generated/{{resume_file_pdf}}" download>
<button>Download PDF</button>
</a>

<br><br>

<a href="/">
<button>Create Another Resume</button>
</a>

</body>
</html>
